body {
	margin: 0;
	color: #222;
	background: #f2f2f2;
}

nav {
	position: fixed;
	width: 96vw;
	padding: 1em 2vw;
	background: #fff;
	text-align: center;
	border-bottom: 4px double #e4e4e4;
	z-index: 100;
}

	#semester1, #semester2 {
		display: inline-block;
		width: 400px;
		text-align: left;
	}

		#semester1 { opacity: 0.4; }

	nav a {
		display: inline-block;
		font: normal 1em "Heebo", sans-serif;
		color: #444;
		text-decoration: none;
		letter-spacing: 0.04em;
		text-align: left;
	}

	nav h3 {
		text-align: left;
		display: block;
		margin: 0;
		padding: 0;
	}

	nav a:hover { color: #ff502d; }

.slide {
	min-height: 94vh;
	padding: 3em 0 2em;
}

	.divider {
		padding: 0em;
		text-align: center;
		min-height: 60px;
		height: 60px;
		border-bottom: 1px solid #ddd;
	}

	.divider:hover {
		cursor: pointer;
		text-decoration: underline;
	}

	.semester1 { display: none; }

.wrap {
	margin: auto;
	padding: 1em;
}

a, a:visited {
	color: #3653be;
}

p, ol, ul {
	position: relative;
	font: normal 1em/2em "Heebo", sans-serif;
	letter-spacing: 0.02em;
}

	.big { font-size: 1.2em; }

ol, ul { padding: 0 4em; }

	ol li ul li { padding: 0; }

ul li {
	padding: 0 1em 0.5em;
	list-style-type: none;
}

ul li img {
	position: absolute;
	left: 3em;
	width: 25px;
}

blockquote {
	position: relative;
	font: normal 1.1em/2em "Heebo", sans-serif;
	letter-spacing: 0.02em;
}

h1 {
	margin: 1.2em 0;
	font: 500 1.8em "Poppins", sans-serif;
	color: #444;
	letter-spacing: 0.02em;
}

h2 {
	margin: 1.4em 0;
	font: 500 1.1em "Poppins", sans-serif;
	color: #3653be;
	text-transform: uppercase;
	letter-spacing: 0.04em;
}

h3 {
	display: inline;
	margin: 0 0 0 -2em;
	padding: 0 0.5em 0 2em;
	font: 500 1em "Poppins", sans-serif;
	color: #ef61ef;
	background: #fff;
	text-transform: uppercase;
	letter-spacing: 0.04em;
}

img {
	max-width: 100%;
}

.highlight {
	padding: 0 0.25em;
	background: #fff6bc;
	border-bottom: 1px solid #f8d802;
}

table, th, td {	border: 1px solid #000; }
table {
	font: normal 0.9em "Heebo", sans-serif;
	margin: auto;
}

th { padding: 10px 5px; width: 120px; }
td { padding: 10px; width: 520px; }

/* SLIDES */
.intro {
	background: #fcfcfc;
	padding: 5em 0 2em;
	border-bottom: 1px solid #e4e4e4;
}

.original, .development {
	background: #fde8fd;
	border-bottom: 1px solid #f2d5f2;
}

.research {
	background: #e2e8fb;
	border-bottom: 1px solid #d2d9f1;
}

.studies {
	background: #fff3eb;
	border-bottom: 1px solid #f0ded3;
}

.pivot {
	background: #fff;
	border-bottom: 1px solid #f2f2f2;
}

.testing {
	background: #c3e9d5;
	border-bottom: 1px solid #a9dcc2;
}

.takeaways {
	background: #fff8e6;
	border-bottom: 1px solid #f5ead0;
}

@media screen
    and (min-device-width: 460px)
	and (min-width: 460px) {
		.wrap {
			width: 80%;
			max-width: 800px;
		}

		nav a, nav a:visited {
			margin-right: 1.5em;
		}

		h2 {
			width: 75%;
		}
}
