#loading {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	background: #e67975;
	z-index: 999;
}

	#loading img#gif {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -90px 0 0 -90px;
		width: 180px;
	}

	#loading #note {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -7em 0 0 -150px;
		color: #fff;
		font: normal 1.2em/1.8em "Karla", sans-serif;
	}

@media screen and (max-device-width: 460px) and (max-width: 460px) {
	/* #loading, #note { display: block; } */
}

@font-face {
	font-family: 'Nickainley Normal';
  src: url('Nickainley-Normal.otf');
}

@font-face {
	font-family: 'Stanley Poster';
  src: url('Stanley-Poster.ttf');
}

body {
	margin: 0;
	color: #222;
	background: #f2f2f2;
}

nav {
	display: none;
	position: fixed;
	width: 96vw;
	min-width: 1200px;
	padding: 1em 2vw;
	background: #fff;
	text-align: center;
	border-bottom: 1px solid #ddd;
	z-index: 100;
}

	nav a, nav a:visited {
		margin-right: 0.5em;
		font: normal 1.2em/2em "Karla", sans-serif;
		color: #444;
		text-decoration: none;
		letter-spacing: -0.01em;
	}

	nav a:hover { color: #e86262; }

	nav a:last-child { margin-right: 0; }

.slide {
	min-width: 1100px;
	padding: 3em 0 2em;
	overflow-x: hidden;
}

.wrap {
	margin: auto;
	padding: 1em;
	width: 80%;
	max-width: 800px;
}

a, a:visited {
	color: inherit;
	letter-spacing: 0.02em;
}

p, ol, ul, blockquote {
	position: relative;
	font: normal 0.95em/2em "Karla", sans-serif;
	letter-spacing: -0.01em;
}

	.big, blockquote { font-size: 1.2em; }

ol, ul { padding: 0 3em; }

	ol li ul li { padding: 0; }

ul li {
	padding: 0;
	list-style-type: square;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.02em;
}

ul li img {
	position: absolute;
	left: 3em;
	width: 25px;
}

h1 {
	margin: 0;
	padding: 1.25em 0em 1em;
	font: 500 3em "Stanley Poster", serif;
	color: #e86262;
	background: #fff;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
}

h1.title {
	margin: 0.5em 0 1em;
	padding: 0;
	font: 500 4.7em "Stanley Poster", serif;
	color: #fff;
	background: none;
}

h2 {
	margin: 0.8em 0 0.5em;
	font: 500 3em "Nickainley Normal", serif;
	color: #fff;
	text-align: center;
}

h3 {
	float: left;
	margin: 0.25em 1em 0 0;
	padding: 2px 4px;
	font: bold 0.9em "Karla", sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.04em;
}

h4 {
	margin: 1em 0;
	padding: 0;
	font: normal 1.2em/1.8em "Karla", sans-serif;
	color: #666;
	letter-spacing: 0.04em;
}

h5 {
	position: relative;
	margin: 0.2em 0 0.8em;
	padding: 0;
	font: 500 1.8em "Stanley Poster", serif;
	color: #444;
	background: none;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

img {
	max-width: 100%;
}

.highlight {
	font-weight: bold;
	padding: 0 0.25em;
	color: #fff;
	background: #e86262;
	border-bottom: 1px solid #d65858;
}

.underline {
	color: #000;
	border-bottom: 1px solid #e19c0f;
}

/* SLIDES */
.intro {
	background: #e86262;
	color: #fff;
	/* padding: 5em 0 4em; */
	padding: 1.5em 0 4em;
	border-bottom: 1px solid #eee;
}
	.intro p {
		margin: 0 auto 1em;
		max-width: 490px;
	}

	.intro h3 { background: #d65858; }

.adobe {
	/* display: none; */
	background: #f4f4f4;
	color: #444;
	padding: 0em 0 2em;
}

.process {
	display: none;
	padding: 0;
	background: #e86262;
	color: #fff;
	/* border-bottom: 1px solid #d2d9f1; */
}

.experiences {
	display: none;
	background: #fff;
	border-bottom: 1px solid #f0ded3;
}

.design {
	background: #bccc95;
	border-bottom: 1px solid #f2f2f2;
}

@media screen
    and (min-device-width: 460px)
	and (min-width: 460px) {

		nav a, nav a:visited {
			margin-right: 1.5em;
		}
}

@media screen
    and (min-device-width: 960px)
	and (min-width: 960px) {

		img.small-left {
			float: left;
			margin: 0 40px 10px -20px;
			max-width: 50%;
		}

		.process { display: block; }

		#process-titles {
			position: relative;
			display: block;
			background: #fff;
			width: 100vw;
			height: 154px;
		}

		h2#projects, h2#explanations {
			float: left;
			width: 750px;
			margin: 0;
			padding: 1em 0em;
			background: #fff;
			color: #e86262;
			border-bottom: 1px solid #e86262;
		}

		h2#explanations {
			width: auto;
			padding-left: 7%;
		}

		.section {
			clear: both;
			margin: 0 0 1px;
			padding: 0;
			border-bottom: 1px solid #fff;
		}

			.section:last-child { border-bottom: none; }

		.section h5 {
			padding: 26px 0 0;
			color: #e86262;
		}

			.section-content { display: none }

			.proj, .proj-ux, .proj-tags {
				float: left;
				padding: 0 25px 0;
			}

			.proj {
				width: 690px;
				color: #444;
				background: #fff;
			}

			.proj-ux, .proj-tags {
				display: none;
				position: absolute;
				left: 740px;
				min-width: 450px;
				max-width: 600px;
				color: #fff;
			}

			.proj-tags {
				display: block;
				padding: 0 1.5%;
			}

			.proj-ux h3 { background: #d65858; }

			.proj-ux h4 {
				display: inline-block;
				margin: 0 0 0 -1.35em;
				padding: 0 0 0.2em 1.5em;
				color: #fff;
				font: bold 1.2em "Karla", sans-serif;
				text-transform: uppercase;
				letter-spacing: 0.04em;
				border-bottom: 2px solid #fff;
			}

			.proj-ux h5 {
				margin: 0.5em 0;
				color: #fff; }

			.proj-ux .highlight {
				background: #fff;
				color: #e86262;
			}

			.clear { clear:both; }

			.arrow-down, .arrow-up {
				float: right;
				margin: 10px 15px -10px 15px;
			  width: 0;
			  height: 0;
			  border-left: 10px solid transparent;
			  border-right: 10px solid transparent;
			  border-top: 10px solid #e86262;
			}

			.arrow-up { border-top: none; border-bottom: 10px solid #e86262; }
}
